.payerAddress {
  font-family: "Quicksand Bold", sans-serif;
  border-radius: 15px;
  margin: 48px;
  font-weight: 600;
  font-size: 24px;

  @media (max-width: 768px) {
    word-break: break-all;
    margin: 24px;
    font-size: 18px;
  }
}

.ctaContainer {
  margin: 0px px;
  max-width: 1250px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.connectContainer {
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5B0;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
  border: none;
  border-radius: 15px;
  font-size: 20px;
  gap: 24px;
  font-weight: 600;
  padding: 2rem 4rem;

  @media (max-width: 768px) {
    margin: 24px;
    padding: 16px;
  }
}

.title {
  font-size: 66px;
  font-family: "Balgin Black", sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #FA4747;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
  
  @media (max-width: 768px) {
    font-size: 24px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
  }
}

.networkSelectButton {
  display: flex;
  gap: 5px;
  background-color: #FFF;
  border: none;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  padding: 0.8rem 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.tokenSelectButton {
  display: flex;
  gap: 5px;
  background-color: #0090FF;
  border: none;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  color: #FFF;
  padding: 0.8rem 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.payButton {
  font-family: "Quicksand Bold", sans-serif;
  background-color: #0090FF;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 20px;
  color: #FFF;
  padding: 0.8rem 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 1);

  transition: all .2s ease;

  &:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transform: translateY(3px);
  }
  
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.amountInput {
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: #F5F5F5B0;
  color: #0000005E;
  font-size: 18px;
  width: 80px;
}

.amountLabel {
  font-size: 18px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 16px;
    text-align: left;
  }
}

.amountInputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chainButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chainButton {
  display: flex;
  gap: 5px;
  background-color: #0090FF;
  border: none;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  color: #FFF;
  padding: 0.8rem 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.chainButton img {
  width: 24px;
  height: 24px;
}

.balanceText {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0.5rem;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.paymentContainer {
  padding-top: 24px;
}
