.footerParagraph {
    white-space: nowrap;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;

    @media (max-width: 768px) {
        font-size: 1rem;
        padding: 0;
        height: 64px;
    }
}

.footerContainer {
    background-color: #4FD1C5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px 0 64px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #4FD1C5;
        padding: 20px;
    }
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 16px;
}

.icon {
    width: 30px;
    height: 30px;

}

.youtubeIcon {
    width: 30px;
    height: 40px;
}

