.loading-bar-container {
    width: 100%;
    background-color: #EDF2F7;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .loading-bar {
    height: 20px;
    background: repeating-linear-gradient(
      -45deg,
      #0090FF,
      #0090FF 10px,
      #EDF2F7 10px,
      #EDF2F7 20px
    );
    background-size: 200% 100%;
    animation: swirl 4s linear infinite;
  }
  
  @keyframes swirl {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  